<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CI/CD</title>
</head>
<body>
    <h1 align="center">Hello Django CI/CD Pipeline</h1>
    <h2 align="center">This change is added to test the Final CI/CD django deployment.</h2>
    <h3 align="center">This is working just fine.</h3>
    <h4 align="center">No Money No conversation Mai toh unavailable hmesha on-vacation...</h4>
</body>
</html>